<%= render "/features/social_headline" %>
    <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">
          <p></p>
          <a name="form"></a>
            <h4>THE PETITION<br /><br /></h4>
      </div>
  </div>

  <div class="row">
      <div class="large-7 columns" style="padding-right:30px;">
        <strong>Dear Apple, <br /><br />
          Bring art to the world and the world to art! Please add an 'Art' category to the App Store.
        </strong><br /><br />
        We believe in the power of human culture, where art plays a central role.<br /><br />
        Apple's past and current publicity has always focused on its support for artists and the act of creation.<br /><br />
        Yet art-centered apps are now stuck in odd categories like Lifestyle, Education, or Photos &amp; Video.<br /><br />
        <strong>Please show your support for creativity worldwide by adding an 'Art' category to the App Store.<br /><br />
      </div>
        <div class="large-5 columns">
          <%= form_for @signer do |f| %>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :first_name, placeholder: "First Name", required: true %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :last_name, placeholder: "Last Name", required: true %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :email, placeholder: "Email", required: true %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.country_select(:country, priority_countries: ['US'], prompt: "Country") %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :occupation, placeholder: "Occupation (optional)"%>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_area :comment, placeholder: "I'm signing because...(optional)" %>
              </div>
            </div>


            <div class="row">
              <div class="large-12 columns">
                  <%= f.submit "SUBMIT", class: "small radius button" %>
                  <br/>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                  <%= f.check_box :display_sig, id: "checkbox1", checked: true %>
                  <%= f.label :display_sig, "display my signature on artapp.org" %><br />
                  <%= f.check_box :subscribe, id: "checkbox2", checked: true %>
                  <%= f.label :subscribe, "sign me up for occasional news updates" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <script>
      $(document).foundation();

      $(document).ready(function(){
        $('.carousel').slick({
          autoplay: false
        });
      });
    </script>