

<div style="background: #000 url('/assets/main_header_graphic_2X.jpg') no-repeat; background-size:100% auto;">
    <div class="row">
      <div class="large-12 columns">
        <div>
          <h3 style="padding-top:3em; padding-bottom:23m; text-align:center; color:#fff;">
            Dear Apple,<br />
            Bring art to the world and the world to art! <br />
            Please add an 'art' category to the App Store. <br /><br />
            <a href="javascript:document.getElementById('firstName').focus()" class="small radius button">ENDORSE</a><br/>
            <a href=""><img src="/assets/share_button_2X.png" style="text-align:right; width:2rem; height:2rem;" /></a>
            <br /><br />
          </h3>
        </div>
      </div>
    </div>
</div>

<div class="large-12 columns" style="background-color:#ededed;">
    <div class="row">
      <div class="large-12 columns" style="padding-top:1rem;">
        <h6>STATEMENTS BY SIGNERS</h6>

        <div class="carousel">
          <div>
            <h5 style="text-align:right; padding:2rem; font-size:1.4rem;"><em>Art lies at the center of human culture. C'mon Apple, please get it together. <br /><br />
              <strong>- John Baldessari, Artist</strong></em>
            </h5>
          </div>

          <div>
              <h5 style="text-align:right; padding:2rem; font-size:1.4rem;"><em>Truth lies at the center of human culture. C'mon Apple, please get it together. <br /><br />
                <strong>- Peter, Artist</strong></em>
              </h5>
          </div>

          <div>
              <h5 style="text-align:right; padding:2rem; font-size:1.4rem;"><em>Beauty lies at the center of human culture. C'mon Apple, please get it together. <br /><br />
                <strong>- Kate, Artist</strong></em>
              </h5>
          </div>
        </div>
      </div>
    </div>
</div>



  <div class="row">
      <div class="large-12 columns" style="padding-top:1rem;">
        <div class="large-8 columns">
          <h6>THE PETITION</h6>
          <p>Dear Apple, <br />
            Bring art to the world and the world to art! Please add an 'Art' category to the App Store.
          </p>
          <p>We believe in the power of human culture, where art plays a central role.</p>
          <p>Apple's past and current publicity has always focused on its support for artists and the act of creation.</p>
          <p>Yet art-centered apps are now stuck in odd categories like Lifestyle, Education, or Photos &amp; Video.</p>
          <p style="font-weight:bold;">Please show your support for creativity worldwide by adding an 'Art' category to the App Store.</p>
        </div>
        <div class="large-4 columns">
          <%= form_for @signer do |f| %>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :first_name, placeholder: "First Name", required: true %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :last_name, placeholder: "Last Name", required: true %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :email, placeholder: "Email", required: true %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.country_select(:country, priority_countries: nil) %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :street_address, placeholder: "Street Address" %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :zip, placeholder: "Zip Code" %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_area :comment, placeholder: "I'm signing because. . ." %>
              </div>
            </div>


            <div class="row">
              <div class="large-12 columns">
                  <%= f.submit "SUBMIT", class: "small radius button" %>
                  <br/>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                  <%= f.check_box :display_sig, id: "checkbox1" %>
                  <%= f.label :display_sig, "display my signature on artapp.org" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <script>
      $(document).foundation();

      $(document).ready(function(){
        $('.carousel').slick({
          autoplay: true
        });
      });
    </script>