<div class = "action-container">
    <div class="row">
      <div class="large-12 columns social-headline">
        <div>
            <% if params[:controller] == "signers" %>
              <%= content_for :bottom_js do%>
                <script>
                  var options = {
                    useEasing : true, 
                    useGrouping : true, 
                    separator : ',', 
                    decimal : '.', 
                    prefix : '', 
                    suffix : '' 
                  };

                  $( document ).ready(function() {
                    var fade = function() {
                     $('#invite-friends').fadeTo(1000, 1);
                    }
                    var numAnim = new CountUp("countup", 0, <%= Signer.count %>, 0, 3, options);
                    numAnim.start(fade());
                  });
                </script>
              <% end %>
              <h2 class="signers-subheadline"> TOTAL SIGNERS </h2>
              <h1 class="signers-headline" id="countup"></h1>
              <h3 style="color: white; margin-top: 35px; opacity: 0;" id="invite-friends">Invite some friends!</h3>
            <% else %>
              <h3 style="padding-top:3em; padding-bottom:23m; text-align:center; color:#fff;">
                <% current_page = SiteViewObject.new(params)%>
                <%= current_page.headline_text %>
                <% if params[:controller] == "features" %>
                  <%= link_to "ENDORSE", new_signer_path, class: "small radius button" %>
                <%end%>
                <br />
              </h3>
            <% end %>
           <div id="share" style="position: relative; padding-bottom:10px; text-align: center;">    
              <div id="shareMenu" style="width:100%; padding: 10px; position: absolute; z-index:10;">
                <%= image_tag("share_button_2X.png", style: "text-align:right; width:2rem; height:2rem; cursor:pointer;")%>
              </div>

              <div id="shareTools" style="width:100%; padding: 10px; position: absolute; z-index:11; display: none;">
                <ul class="soc">
                  <li><a class="soc-twitter" href="https://twitter.com/home?status=Dear%20Apple,%20bring%20art%20to%20the%20world%20and%20the%20world%20to%20art!%20Add%20an%20'Art'%20category%20to%20the%20App%20Store.%20http%3A//www.artapp.org%20%40AppStore%20%23artapp" data-applink="twitter://post?message=Dear%20Apple,%20bring%20art%20to%20the%20world%20and%20the%20world%20to%20art!%20Add%20an%20'Art'%20category%20to%20the%20App%20Store.%20http%3A//www.artapp.org%20%40AppStore%20%23artapp" target="_blank"></a></li>
                  <li><a class="soc-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.artapp.org" target="_blank"></a></li>
                  <li><a class="soc-tumblr" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http%3A//www.artapp.org&title=Petition%20Apple%20to%20Add%20Art%20Category%20to%20the%20App%20Store" target="_blank"></a></li>
                  <li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.artapp.org&title=Petition%20Apple%20to%20add%20Art%20to%20the%20App%20Store&summary=&source="></a></li>
                </ul>
              </div>
            </div>
            <% if params[:controller] == "signers" %>
              <br />
            <% end %>
          <p><br /><br /></p>
        </div>
      </div>
    </div>
</div>