<%= render "social_headline" %>

<div class="large-12 columns">
  <p></p>
    <div class="row">
      <div class="large-12 columns" style="padding-top:1rem;">
        <h4>ART APPS<br /><br /></h4>
          Like the world of art, the realm of arts-centered apps is vast, encompassing artworks, museums, guides, and apps exploring the core creative impulse central to art-making.  Other apps help audiences discover, purchase or learn about art.  Here are some examples:
        <p><br /></p>
    
        <% @categories.each do |category| %>
          <h4><%= category %></h4>
          <div class="apps">
            <% Artapp.by_category(category).each do |app| %>
              <div>
                <a href=<%= app.hyperlink %>>
                <img src=<%= app.image_url %> /></a>
                 <p style="text-align:center;"><%= app.name %></p>
              </div>
            <% end %>                
          </div>
        <% end %>
      </div>
    </div>
</div>