<%= render "social_headline" %>

<script>
  $('p #1').css('color', '#bbb');
</script>

<div class="large-12 columns" >
  <p></p>
    <div class="row">
      <div class="large-10 columns" style="padding-top:1rem;">
        <h4>ARTS-CENTERED APPS</h4>
      </div>
      <div class="large-2 columns" style="padding-top:1rem;">
        <div style="text-align: right;"><p><strong><%=link_to "SEE MORE >", art_apps_path%></strong></p></div>
      </div>
    </div>

    <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">
        <div class="apps">
          <% @art_apps.each do |app| %>
            <div>
              <a href= "<%= app.hyperlink %>", target="_blank">
              <img src= <%= app.image_url %> class="appicon" /></a>
              <p style="text-align:center;"><%= app.name %></p>
            </div>
          <% end %>
        </div>

      </div>
    </div>
</div>

<div class="large-12 columns" style="background-color:#eee;">
  <p></p>
    <div class="row">
      <div class="large-10 columns" style="padding-top:1rem;">
        <h4>STATEMENTS BY SIGNERS</h4>
      </div>
      <div class="large-2 columns" style="padding-top:1rem;">
        <div style="text-align: right;">
          <p><strong><%=link_to "READ MORE >", statements_path%></strong></p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">
        <div class="carousel">
          <% @statements.each do |signer| %>
            <div>
                <h5><%= signer.statement %></h5>
                <h6><a href="<%= signer.hyperlink %>", target="_blank">- <%= signer.name %></a></h6>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
<!-- Begin news carousel -->
<div class="large-12 columns" style="background-color:#fff;">
  <p></p>
    <div class="row">
      <div class="large-10 columns" style="padding-top:1rem;">
        <h4>NEWS</h4>
      </div>
      <div class="large-2 columns" style="padding-top:1rem;">

      </div>
    </div>

    <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">
        <div class="news-carousel">    
            <div>
                <h6>November, 13 2015</h6>
                <h4>If Apple Cares So Much About Design, Why Does the App Store Ignore Artists?</h4>
                <h6 class="small-8 columns">Publisher: Motherboard</h6>
                <h6 class="small-4 columns" style="text-align: right; padding-right: 20px;"><a href="http://motherboard.vice.com/read/if-apple-cares-so-much-about-design-why-does-the-app-store-ignore-artists", target="_blank"> Read the Article >></a></h6>
            </div>
            <div>
                <h6>November, 16 2015</h6>
                <h4>Why the Apple App Store Needs an "Art" Category</h4>
                <h6 class="small-8 columns">Publisher: Pop Matters</h6>
                <h6 class="small-4 columns" style="text-align: right; padding-right: 20px;"><a href="http://www.popmatters.com/post/why-the-apple-app-store-needs-an-art-category/", target="_blank">Read the Article >></a></h6>
            </div>

        </div>
      </div>
    </div>
</div>
