<%= render "social_headline" %>

<script>
  $('p #1').css('color', '#bbb');
</script>

<div class="large-12 columns" >
  <p></p>
    <div class="row">
      <div class="large-10 columns" style="padding-top:1rem;">
        <h4>ARTS-CENTERED APPS</h4>
      </div>
      <div class="large-2 columns" style="padding-top:1rem;">
        <div style="text-align: right;"><p><strong><%=link_to "SEE MORE >", art_apps_path%></strong></p></div>
      </div>
    </div>

    <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">
        <div class="apps">
          <% @art_apps.each do |app| %>
            <div>
              <a href= "<%= app.hyperlink %>", target="_blank">
              <img src= <%= app.image_url %> class="appicon" /></a>
              <p style="text-align:center;"><%= app.name %></p>
            </div>
          <% end %>
        </div>

      </div>
    </div>
</div>

<div class="large-12 columns" style="background-color:#eee;">
  <p></p>
    <div class="row">
      <div class="large-10 columns" style="padding-top:1rem;">
        <h4>STATEMENTS BY SIGNERS</h4>
      </div>
      <div class="large-2 columns" style="padding-top:1rem;">
        <div style="text-align: right;">
          <p><strong><%=link_to "READ MORE >", statements_path%></strong></p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="large-12 columns" style="padding-top:1rem;">
        <div class="carousel">
          <% @statements.each do |signer| %>
            <div>
                <h5><%= signer.statement %></h5>
                <h6><a href="<%= signer.hyperlink %>", target="_blank">- <%= signer.name %></a></h6>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
<!-- Begin news carousel -->
<div class="large-12 columns" style="background-color:#fff;">
  <p></p>
    <div class="row">
      <div class="large-10 columns" style="padding-top:1rem;">
        <h4>NEWS</h4>
      </div>
      <div class="large-2 columns" style="padding-top:1rem;">

      </div>
    </div>

    <div class="row">
      <div class="large-12 columns" style="padding-top:1rem;">
        <div class="news-carousel"> 
          <% @news.each do |story| %>
            <div>
                <h6><%= story.date %></h6>
                <h4><a href=<%= story.url %>><%= story.headline%></a></h4>
                <h6 class="small-8 columns">Publisher: <%= story.publisher%></h6>
                <h6 class="small-4 columns" style="text-align: right; padding-right: 20px;"><a href=<%= story.url %>, target="_blank"> <%= story.link_text %></a></h6>
            </div>
          <% end %>
        </div>
      </div>
    </div>
