<div class="row">
  <div class="large-12 columns">

    <div class="large-3 columns">
      <br />
      <%= link_to (image_tag("art_app_2X.png", border: "0")), root_path %>
    </div>
    <div class="large-9 columns" style="text-align:right; margin-top:2em;">
      <div class="row">

          <!-- <span style="color:#bbb">HOME</span>  -->
          <%= link_to "HOME", root_path, id: "1" %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "THE PETITION", new_signer_path, id: "2", style: "white-space: nowrap;" %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "ABOUT", about_path, id: "3" %> &nbsp;&nbsp;&nbsp;&nbsp;
          <!--<a href="">STATEMENTS</a> &nbsp;&nbsp;&nbsp;&nbsp;-->
          <%= link_to "ART APPS", art_apps_path, id: "4", style: "white-space: nowrap;" %>&nbsp;&nbsp;&nbsp;&nbsp;

          <!--
          <a href="">NEWS</a> &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="">CONTACT</a> &nbsp;&nbsp;&nbsp;&nbsp;
          -->
          
          <span class="soc2">
              <p><a class="soc2-twitter" href="https://twitter.com/addingart" target="_blank"></a></p>
              <p><a class="soc2-facebook" href="https://www.facebook.com/addingart" target="_blank"></a></p>
          </span>

       </div>
    </div>
  </div>
</div>