<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300italic,300' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content= '<%=asset_url('dear_apple_addart_share.jpg')%>' />

    <title><%= content_for?(:title) ? yield(:title) : "+ArtApp | Petition Apple to add Art to the App Store" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- flash message -->
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
          <%= content_tag :div, msg %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    <% end %>
    <!-- Header -->
    <%= render "/layouts/header" %>
    <!-- Begin page content -->
    <%= yield %>
    
    <!-- Footer -->
    <div class="large-12 columns" style="background-color:#dedede; padding-top:2rem;">
      <div class="row">
        <div class="large-6 columns">
           <p style="color: #bbb; font-weight: bold;">made with <span style="color: red;">&hearts;</span> in nyc and sf</p>
        </div>
        <div class="large-6 columns" style="text-align:right; margin-top: -10px;">
          <span class="soc2">
              <p><a class="soc2-twitter" href="https://twitter.com/addingart" target="_blank"></a></p>
              <p><a class="soc2-facebook" href="https://www.facebook.com/addingart" target="_blank"></a></p>
          </span>
          <p></p>
        </div>
      </div>
    </div>
  </body>
</html>